<%- layout('layout/main.ejs') %>


<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="name" name="text" placeholder="Name">
    <input type="surname" name="text" placeholder="Surname">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">
        SignIn
    </button>
</form>